<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner</title>
</head>
<body>
    <form action="banner" method="post" enctype="multipart/form-data">
        <h1>Add Banner</h1>
        
        
        <input type="text" name="bannerName" placeholder="banner name">
        <input type="text" name="bannerInfo" placeholder="banner info">
        <input type="file" id="file-input" name='bannerImage' required multiple>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>