<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner</title>
</head>
<body>
    <form action="subBanner" method="post" enctype="multipart/form-data">
        <h1>Add Sub Banner</h1>
        
        
        <input type="text" name="bannerHead" placeholder="banner head">
        <input type="text" name="bannerInfo" placeholder="banner info">
        <input type="file" id="file-input" name='bannerImage' required multiple>

        <label for="category">Category Name :</label>
        <select name="category" class="sa-select2 form-select" required>

            
            <% for( let i=0; i < category.length; i++ ) { %>
                <option value="<%= category[i]._id %>">
                    <%= category[i].category_name %>
                </option>
                <% } %>



        </select>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>